<h1 class="text-center fw-bold">Shopping list </h1>
<div class="container d-flex flex-row justify-content-between">
  <div class="">
    <p class=""><%= "Amount of food to buy: #{@shopping_list_items.size}"%></p>
    <p class=""><%= "Total value of food needed: $#{@total_cost}"%></p>
  </div>

  <div class="">
    <p>Recipe:
      <%= link_to "#{@recipe.name}",recipe_path(@recipe.id) %>
    </p>

    <p>Inventory:
      <%= link_to "#{@inventory.name}", inventory_path(@inventory.id) %>
    </p>
  </div>

</div>

<% if @shopping_list_items.size > 0 %>
  <%= render "table", shopping_list_hash: @shopping_list_items%>
<% else %>
  <h5>It looks like you have all the neccessary quantities in the inventory for this receipe </h5>
<%end %>